<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="This suite is created for retryAnalyzer example">
    <listeners>
        <listener class-name="annotationTransformer"> </listener>
    </listeners>
    <test name="This test is created for retryAnalyzer">
        <classes>
            <class name="returnFailed"> </class>
        </classes>
    </test>
</suite>